<script>
    import Button from './Button.svelte'

    let someText = `soy daniel orgas`
    let count = 0
    let styles = {darkMode: false}


    function handleClick() {
        count += 1
    }

    function toogle() {
        styles.darkMode = !styles.darkMode;
        window.document.body.classList.toggle("dark-mode")
    }
</script>

<style>
    p {
        color: var(--theme-color);
    }
</style>

<div class="About">

    {#if !styles.darkMode}
        <p>
            {someText}
        </p>
    {:else }
        <span>Hello dark mode</span>
    {/if}

    <Button
            text="Click2"
            {count}
            on:click={handleClick}
    />
    <Button text="Dark Mode" on:click={toogle}/>

    <button on:click={handleClick}> click {count === 0 ? '' : count }</button>

    <button on:click={toogle}>Dark Mode</button>



</div>
