<script>
    let skills = [{
        id: 1,
        name: 'HTML'
    },
        {
            id: 2,
            name: 'CSS'
        },
        {
            id: 3,
            name: 'JS'
        },
        {
            id: 4,
            name: 'SVELTE'
        },]
</script>

<div class="Skills">
    {#each skills as {name}, i}
        <!--{#each skills as skill, i}-->
        <!--        <li>{skill.name}</li>-->
        <li>{name}</li>
    {/each}

</div>

<style>
    .Skills{
        display: flex;
        align-items: center;
        justify-content: center;
    }
/*    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }*/
    li{
        display: inline;
        margin: 0 0 0 0.4em;
    }
</style>
