<script>
    import About from './components/About.svelte'
    import Text from './components/Text.svelte'
    import Person from './components/Person.svelte'
    import Skills from './components/Skills.svelte'
    import Input from './components/Input.svelte'
    import Photos from './components/Photos.svelte'
    import ButtonCount from "./components/ButtonCount.svelte";

    export let name;


    const data = {
        name: "Daniel",
        lastName: "Orgas",
        age: 27
    }
</script>

<main>
    <h1>Hello {name}!</h1>
    <About/>
    <Text anotherText="Lo que sea papi"/>
    <Text anotherText="Otra vez papi"/>
    <Text/>

    <!--	<Person name={data.name} lastName={data.lastName} age={data.age}/>-->
    <!--	por propagacion-->
    <Person {...data}/>
    <Skills/>
    <Input/>
    <ButtonCount/>
    <Photos/>


</main>

<style>

    :global(:root) {
        --theme-color: purple;
    }

    :global(body.dark-mode) {
        background-color: #1d3040;
        color: #bfc2c7;
    }

    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>
